@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
	display: block;
}
a {
	text-decoration: none;
}
.container {
	margin: 0 auto;
	padding: 0 12px;
	max-width: 1296px;
	height: 100%;
}

/* Starts from here */
:root {

/* Colors: */
--unnamed-color-fbf2f2: #FBF2F2;
--unnamed-color-000000: #000000;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-aa0601: #AA0601;
--unnamed-color-650300: #650300;
--unnamed-color-212529: #212529;

/* Font/text values */
--unnamed-font-family-source-han-sans-tw: Noto Sans TC;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-14: 14px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-21: 21px;
}
.material-symbols-rounded {
	color: white;
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}
header {
	.navbar {
		background: var(--unnamed-color-aa0601) 0% 0% no-repeat padding-box;
		.content {
			padding-top: 16px;
			padding-bottom: 15.43px;
			height: 80px;
			display: flex;
			justify-content: space-between;
			ul {
				display: flex;
				align-items: center;
				gap: 64px;
				li a {
					font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/30px var(--unnamed-font-family-source-han-sans-tw);
					letter-spacing: var(--unnamed-character-spacing-0);
					color: var(--unnamed-color-ffffff);
					text-align: left;
					text-transform: uppercase;
				}
			}
		}
	}
}
main {
	.hero-banner {
		height: 787px;
		background: url(../assets/images/home-header.png) no-repeat;
		background-size: cover;
		.content {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-end;
			h3 {
				font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 36px/54px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
				text-align: center;
			}
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 64px/96px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
				text-align: center;
			}
			a {
				background: var(--unnamed-color-aa0601) 0% 0% no-repeat padding-box;	
				span {
					padding: 6px 12px;
					display: inline-block;
					// Medium
					font: var(--unnamed-font-style-normal) normal bold 20px/30px var(--unnamed-font-family-source-han-sans-tw);
					letter-spacing: var(--unnamed-character-spacing-0);
					color: var(--unnamed-color-ffffff);
					text-align: left;
					text-transform: uppercase;
				}
			}
		}
	}
	.product-mindset {
		background: var(--unnamed-color-fbf2f2) 0% 0% no-repeat padding-box;
		.content {
			padding-top: 80px;;
			padding-bottom: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 48px/72px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
			}
			.card {
				display: flex;
				li {
					display: flex;
					flex-direction: column;
					align-items: center;
					h3 {
						font: var(--unnamed-font-style-normal) normal bold 24px/36px var(--unnamed-font-family-source-han-sans-tw);
						letter-spacing: var(--unnamed-character-spacing-0);
						color: var(--unnamed-color-650300);
					}
					p {
						font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/24px var(--unnamed-font-family-source-han-sans-tw);
						letter-spacing: var(--unnamed-character-spacing-0);
						color: var(--unnamed-color-000000);
					}
				}
			}
		}
	}
	.classic-design {
		.content {
			padding-top: 80px;
			padding-bottom: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 48px;
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 48px/72px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
			}
			.card {
				display: flex;
				gap: 24px;
				img {
					margin-bottom: 8px;
				}
				h3 {
					letter-spacing: var(--unnamed-character-spacing-0);
					color: var(--unnamed-color-aa0601);
					text-align: center;
					font: italic normal 900 48px/72px Roboto;
				}
			}
		}
	}
	.collab-design {
		background: url(../assets/images/index-bg.png);
		background-size: cover;
		.content {
			padding-top: 80px;
			padding-bottom: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 48px/72px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-ffffff);
				text-align: left;
			}
			.card {
				display: flex;
				.text {
					padding: 8px 0;
					background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
					h3 {
						letter-spacing: var(--unnamed-character-spacing-0);
						color: var(--unnamed-color-aa0601);
						text-align: center;
						font: italic normal 900 48px/72px Roboto;
					}
				}
			}
		}
	}
	.customer-recommendation {
		.content {
			padding-top: 80px;
			padding-bottom: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 48px;
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 48px/72px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
			}
			.card {
				display: flex;
				gap: 24px;
				li {
					box-shadow: 0px 2px 6px #00000029;
					border: 1px solid #DEE2E6;
					border-radius: 4px;
					.text {
						padding: 16px;
						.name {
							padding-bottom: 8px;
							// Medium
							font: var(--unnamed-font-style-normal) normal bold 16px/24px var(--unnamed-font-family-source-han-sans-tw);
							letter-spacing: var(--unnamed-character-spacing-0);
							color: var(--unnamed-color-000000);
							text-align: left;
						}
						.description {
							padding-bottom: 72px;
							font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/24px var(--unnamed-font-family-source-han-sans-tw);
							letter-spacing: var(--unnamed-character-spacing-0);
							color: var(--unnamed-color-000000);
							text-align: left;
						}
						.visited-date {
							font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-source-han-sans-tw);
							letter-spacing: var(--unnamed-character-spacing-0);
							text-align: left;
							color: #707070;
						}
					}
				}
			}
		}
	}
	.contact-us {
		background: var(--unnamed-color-fbf2f2) 0% 0% no-repeat padding-box;
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			div {
				width: 49.0741%;
			}
			h2 {
				font: var(--unnamed-font-style-normal) normal bold 48px/72px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-650300);
				text-align: center;
			}
			p {
				font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/30px var(--unnamed-font-family-source-han-sans-tw);
				letter-spacing: var(--unnamed-character-spacing-0);
				color: var(--unnamed-color-000000);
			}
			.form {
				display: flex;
				flex-direction: column ;
				p {
					font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/24px var(--unnamed-font-family-source-han-sans-tw);
					letter-spacing: var(--unnamed-character-spacing-0);
					color: var(--unnamed-color-000000);
				}
			}
		}
	}
}